
*{
    margin: 0;
    padding: 0;
}
body {
  background-color: #FFFDEC;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
  border-radius: 100px;
}

.header{
    width:max-content;
    height: 5vh;
    align-items: center;
    justify-content: center;
    margin:0vh 30vh;
    padding: 0vh 12vh;
    border-bottom: 2px solid black; 
    border-top: 2px solid black; 
}
.container {
  display: flex;
  flex-direction:column;
  width: 100%;
  height: 100%;
}

.buttons-container {
   
  height: 100%;
  width: 80vh;
  display: flex;
  padding: 6vh 12vh;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

button{
    text-shadow: 6px 8px 6px #4d4d4d;
    filter: drop-shadow(4px 8px 10px #4d4d4d);
}

.buttons-container button {
  cursor: pointer;
  padding: 15px 30px;
  width: 150px;
  border-radius: 8px;
  border: 3px solid transparent;
  font-size: 16px;
  font-weight: bold;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
  color: #0b0b0b;
}

.buttons-container button:hover {
  transform: scale(1.06);
}

.buttons-container button:nth-child(2) {
  background-color: #b31010;;
  border-color: #b31010;
  color: #ffffff;
} 
.buttons-container button:nth-child(3) {
  background-color: #e07b1c;
  border-color: #e07b1c;
  color: #ffffff;
}
.buttons-container button:nth-child(4) {
  background-color: #b6aa00;
  border-color: #b6aa00;
  color: #ffffff;
} 
.buttons-container button:nth-child(5) {
  background-color: #125216;
  border-color: #125216;
  color: #ffffff;
}
.buttons-container button:nth-child(6) {
  background-color: #1b18df;
  border-color: #1b18df;
  color: #ffffff;
} 
.buttons-container button:nth-child(7) {
  background-color: #270e5f;
  border-color: #270e5f;
  color: #ffffff;
} 
.buttons-container button:nth-child(8) {
  background-color: #531177;
  border-color: #531177;
  color: #ffffff;
} 

.container-box {
  height: 100vh;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -100%);
    height: 600px;
    width: 600px;
    border: 10px solid transparent;
    border-radius: 30px;
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease, background-color 2s ease;
}

.box-pink {
    background-color: #b31010;;
    border-color: #b31010;
}

.box-yellow {
    background-color: #e07b1c;
    border-color: #e07b1c;
}

.box-green {
    background-color: #b6aa00;
    border-color: #b6aa00;
}

.box-blue {
    background-color: #125216;
    border-color: #125216;
}

.box-red {
    background-color: #1b18df;
    border-color: #1b18df;
}

.box-violet {
    background-color: #270e5f;;
    border-color: #270e5f;
}

.box-lightblue {
    background-color: #531177;
    border-color: #531177;
}

.box.active {
    transform: translate(-30%, -40%);
    opacity: 1;
    background-color: transparent; 
}
.box.inactive {
    transform: translate(-30%, -100%);
    opacity: 0;
}